[submodule "ros_ws/src/biorobotics_tutorial"]
	path = ros_ws/src/biorobotics_tutorial
	url = https://github.com/viswans2132/biorobotics_tutorial
[submodule "ros_ws/src/spot_gazebo_jazzy"]
	path = ros_ws/src/spot_gazebo_jazzy
	url = https://github.com/viswans2132/spot_gazebo_jazzy.git
